* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;background: rgb(209,244,249);
    background: radial-gradient(circle, rgba(209,244,249,1) 29%, rgba(198,216,255,1) 100%);
}
#card {
    text-align: center;
    border: 2px solid #000000;
    border-radius: 16px;
    margin-top: 20px;
    background: #ffffff;
}
li {
    list-style: none;
    display: inline;
}
.img-perfil {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    border: 2px solid #000000;
}
header {
    margin-top: 10px;
}
a img {
    width: 40px;
    height: 40px;
    margin: 5px 12px;
}
main {
    margin-top: 80px;
}
footer {
    margin-top: 60px;
}
footer p {
    background: #000000;
    color: #ffffff;
}
a {
    text-decoration: none;
}